In [77]:
import pandas as pd
import numpy as np

In [78]:
data= pd.read_csv('/content/data.csv')
print(data)

    OBJECTID                                   UNIT_NAME  ... SHAPE.AREA  SHAPE.LEN
0         21                   Fort Stevenson State Park  ...   0.000284   0.135641
1         22                      Beaver Lake State Park  ...   0.000129   0.080067
2         23             Fort Abraham Lincoln State Park  ...   0.000399   0.119868
3         24                      Fort Ransom State Park  ...   0.000444   0.128733
4         25                   Grahams Island State Park  ...   0.000469   0.125546
5         26                        Icelandic State Park  ...   0.000461   0.166712
6         27                   Lake Metigoshe State Park  ...   0.000751   0.212196
7         28                  Lewis and Clark State Park  ...   0.000256   0.130420
8         29         Lewis and Clark Interpretive Center  ...   0.000007   0.016774
9         30           Fort Mandan State Recreation Area  ...   0.000005   0.009396
10        31                  Little Missouri State Park  ...   0.003136   0.313756
11        32                      Sully Creek State Park  ...   0.000030   0.024016
12        35        Butte St. Paul State Recreation Area  ...   0.000025   0.022095
13        36       Crow Flies High State Recreation Area  ...   0.000120   0.050518
14        33                     Turtle River State Park  ...   0.000378   0.145220
15        34                   Lake Sakakawea State Park  ...   0.000357   0.191806
16        37                  Elkhorn State Natural Area  ...   0.000127   0.067082
17        38         Fahlgren Park State Recreation Area  ...   0.000010   0.013294
18        39             Gunlogson State Nature Preserve  ...   0.000048   0.040465
19        40  Head of the Mountain State Nature Preserve  ...   0.000034   0.033885
20        41           Missouri River State Natural Area  ...   0.000083   0.087192
21        43         Pembina Gorge State Recreation Area  ...   0.000615   0.338800
22        44       Turtle Mountain State Recreation Area  ...   0.000345   0.086487
23        45                      Cross Ranch State Park  ...   0.000274   0.180257
24        42         Pelican Point State Recreation Area  ...   0.000013   0.026357

[25 rows x 6 columns]

In [79]:
#1) Generate an array of zeroes using inbuilt numpy function.
arr = np.zeros((4,9))
print(arr)

[[0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0.]]

In [80]:
#2) Run the given code and find the dot product of both arrays.
import numpy as np
a = np.random.randint(2,10, (3,4))
b = np.random.randint(2,10, (4,3))
print(a)
print(b)

[[3 6 5 9]
 [7 8 9 7]
 [9 8 2 2]]
[[2 8 6]
 [3 9 2]
 [6 3 4]
 [8 9 3]]

In [81]:
a.dot(b)

array([[126, 174,  77],
       [148, 218, 115],
       [ 70, 168,  84]])

In [82]:
print(np.dot(a, b))

[[126 174  77]
 [148 218 115]
 [ 70 168  84]]

In [83]:
# 3) Read the csv file provided using pandas and display the first 5 entries
dataset= pd.read_csv('/content/data.csv')

dataset.head(10)

   OBJECTID                            UNIT_NAME  ... SHAPE.AREA  SHAPE.LEN
0        21            Fort Stevenson State Park  ...   0.000284   0.135641
1        22               Beaver Lake State Park  ...   0.000129   0.080067
2        23      Fort Abraham Lincoln State Park  ...   0.000399   0.119868
3        24               Fort Ransom State Park  ...   0.000444   0.128733
4        25            Grahams Island State Park  ...   0.000469   0.125546
5        26                 Icelandic State Park  ...   0.000461   0.166712
6        27            Lake Metigoshe State Park  ...   0.000751   0.212196
7        28           Lewis and Clark State Park  ...   0.000256   0.130420
8        29  Lewis and Clark Interpretive Center  ...   0.000007   0.016774
9        30    Fort Mandan State Recreation Area  ...   0.000005   0.009396

[10 rows x 6 columns]

In [84]:
#4) Describe the data with all features.
data.describe()

        OBJECTID        ACRES  SHAPE.AREA  SHAPE.LEN
count  25.000000    25.000000   25.000000  25.000000
mean   33.000000   724.134400    0.000352   0.109863
std     7.359801  1275.490247    0.000617   0.089073
min    21.000000    11.400000    0.000005   0.009396
25%    27.000000    72.300000    0.000034   0.033885
50%    33.000000   524.810000    0.000256   0.087192
75%    39.000000   836.470000    0.000399   0.145220
max    45.000000  6492.930000    0.003136   0.338800

In [85]:
#5) Find the total count of missing values for each feature.
data.isnull().sum()

OBJECTID       0
UNIT_NAME      0
DESCRIPTION    0
ACRES          0
SHAPE.AREA     0
SHAPE.LEN      0
dtype: int64

In [86]:
data['DESCRIPTION']

0                State Park
1                State Park
2                State Park
3                State Park
4                State Park
5                State Park
6                State Park
7                State Park
8       Interpretive Center
9     State Recreation Area
10               State Park
11               State Park
12    State Recreation Area
13    State Recreation Area
14               State Park
15               State Park
16       State Natural Area
17    State Recreation Area
18    State Nature Preserve
19    State Nature Preserve
20       State Natural Area
21    State Recreation Area
22    State Recreation Area
23               State Park
24    State Recreation Area
Name: DESCRIPTION, dtype: object

In [87]:
#6)Display all the unique values from the 'DESCRIPTION’ column.
data['DESCRIPTION'].unique()

array(['State Park', 'Interpretive Center', 'State Recreation Area',
       'State Natural Area', 'State Nature Preserve'], dtype=object)

In [88]:
#7) Create a grouped table usin 'DESCRIPTION' as the grouping columns with the means of all the other columns.
data.groupby('DESCRIPTION').mean()

                        OBJECTID        ACRES  SHAPE.AREA  SHAPE.LEN
DESCRIPTION
Interpretive Center    29.000000    14.710000    0.000007   0.016774
State Natural Area     39.000000   219.615000    0.000105   0.077137
State Nature Preserve  39.500000    84.095000    0.000041   0.037175
State Park             28.538462  1168.668462    0.000567   0.150326
State Recreation Area  38.285714   326.934286    0.000162   0.078135

In [89]:
#8)Generate a random sample of 10 rows from the data.

data.sample(n = 10)

    OBJECTID                              UNIT_NAME  ... SHAPE.AREA  SHAPE.LEN
14        33                Turtle River State Park  ...   0.000378   0.145220
22        44  Turtle Mountain State Recreation Area  ...   0.000345   0.086487
6         27              Lake Metigoshe State Park  ...   0.000751   0.212196
7         28             Lewis and Clark State Park  ...   0.000256   0.130420
15        34              Lake Sakakawea State Park  ...   0.000357   0.191806
16        37             Elkhorn State Natural Area  ...   0.000127   0.067082
5         26                   Icelandic State Park  ...   0.000461   0.166712
18        39        Gunlogson State Nature Preserve  ...   0.000048   0.040465
8         29    Lewis and Clark Interpretive Center  ...   0.000007   0.016774
13        36  Crow Flies High State Recreation Area  ...   0.000120   0.050518

[10 rows x 6 columns]

In [94]:
#9)Add a Feature called 'New_feature' to the new Dataset and Add Random float Values in between 0 and 1 using Numpy.
data_new=data.assign(New_feature=list(np.random.rand(len(data))))
data_new.head()

   OBJECTID                        UNIT_NAME  ... SHAPE.LEN  New_feature
0        21        Fort Stevenson State Park  ...  0.135641     0.583334
1        22           Beaver Lake State Park  ...  0.080067     0.645886
2        23  Fort Abraham Lincoln State Park  ...  0.119868     0.005303
3        24           Fort Ransom State Park  ...  0.128733     0.971432
4        25        Grahams Island State Park  ...  0.125546     0.105183

[5 rows x 7 columns]

In [91]:
obj_id_mean=data.OBJECTID.mean()
obj_id_mean

33.0

In [74]:
#10) Replace zero value of column 'OBJECTID' with mean value permanently.
data['OBJECTID'][0]=obj_id_mean

In [75]:
data['OBJECTID']

0     33
1     22
2     23
3     24
4     25
5     26
6     27
7     28
8     29
9     30
10    31
11    32
12    35
13    36
14    33
15    34
16    37
17    38
18    39
19    40
20    41
21    43
22    44
23    45
24    42
Name: OBJECTID, dtype: int64